<html>
    <head>
        <title>ChangePassword</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript">

            setInterval(function () {
                $.get('/GetUserState', function (data,status) {

                    if(data.msg==1){
                        alert("用户长时间未操作与服务器断开连接，请重新登录");

                        window.location.replace("/");
                        clearInterval(this);
                    }
                });
            },1000*60);
            function firmChangePassword(){
                var name=document.getElementById("name").value;
                var password=document.getElementById("newPassword").value;
                //alert(password);
                window.location.replace("/firmChange?name="+name+"&password="+password);

            }


        </script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">小游戏</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">在线人数：<%= count%></a></li>
                    <li><a href="#">用户名：<label id="name_label"><%= name%></label></a></li>
                    <li><a href="/close?name=<%= name%>">退出登录</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="1" style="float: left;width: 750px;height: 100px;"></div>
    <div class="2" style="margin-left: 50px;margin-top: 150px;float: left">

        <form name="firmChange" id="firmChange" action="#" >
            <h4>用户名：<input  id="name" type="text" style="background-color: #eeeeee" name="name" readonly="readonly" autocomplete="off" value="<%= name%>"></h4>
            <label>新密码&nbsp;&nbsp;&nbsp;&nbsp;：</label><input type="password" id="newPassword" name="newPassword" ><br/>
            <label>确认密码：</label><input type="password" name="firmPassword"><br/>
            <input type="button" onclick="firmChangePassword()" id="firmChangeButton" value="确认修改">
        </form>

    </div>

    </body>


</html>